<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ivan Ivan Clicker</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div id="app">
        <div id="header">
            <span id="user-name">Привет, User!</span>
            <span id="click-count">Максимов: 0</span>
        </div>
        <div id="clicker">
            <img id="click-img" src="{{ url_for('static', path='/imagee.png') }}" alt="Machine">
            <div id="click-effect"></div>
        </div>
    </div>
    <script src="{{ url_for('static', path='/main.js') }}" type="module"></script>
</body>
</html>